.grid{
    width: 560px;
    height: 300px;
    border: solid black 1px;
    position: absolute;
    margin-top: 50px;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: aqua;
    
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(32, 30, 30);
    
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow
}